
<!-- content component HTML -->
<section class="gridArea">
    <div class="imgArea common">
      
      <img src="assets/images/{{diceFace}}" width="150px">
      <br>
      <br>
      <button (click)="selectPic()">
      Roll dice!
      </button>
    </div>
    <!--

 <div class="listArea common">
      <h3>My Student Info:</h3>
      <ul>
        <li>Name: {{contentInfo.sname | titlecase}}</li>
        <li>Campus: {{contentInfo.scampus}}</li>
        <li>Number: {{contentInfo.sid}}/li>
        <li>Username: {{contentInfo.slogin}}</li>
      </ul>
    </div>


    -->
  
  </section>
