  
  /* content component CSS */
  .gridArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: auto;
    grid-template-areas:  "imgArea listArea inputArea";
    gap: 10px;
    }
    .common { }
    .imgArea {grid-area: imgArea; text-align: left;}
    .listArea {grid-area: listArea;}
    .inputArea {grid-row: inputArea;}
    .sheridan {color:white;}
