  
  /* content component CSS */
  .gridArea {
    padding-left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: auto;
    grid-template-areas:  "imgArea";
    gap: 10px;
    }

    .imgArea {grid-area: "imgArea"; text-align: left;}

    
